[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
uvicorn = "*"
uvicorn-worker = "*"
gunicorn = "*"
psycopg = "*"
whitenoise = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]

[scripts]
test = "python manage.py test"
makemigrations = "python manage.py makemigrations api"
migrate = "python manage.py migrate api"
runserver = "python manage.py runserver"

[requires]
python_version = "3.13"
