[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
uvicorn = "*"
uvicorn-worker = "*"
gunicorn = "*"
psycopg = "*"
whitenoise = "*"

[dev-packages]

[scripts]
test = "python manage.py test"

[requires]
python_version = "3.13"
